@font-face {
  font-family: 'zabars';
  src: url('./assets/fonts/zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/desert.png);
    background-size: cover;
    background-position: center;
    font-family: 'zabars', sans-serif;
}

h1 {
    font-size: 48px;
    letter-spacing: 3px;
}

canvas {
    background-color: black;
}